<div id="project-sidebar">
  Latitude: <%= @user.latitude %>
  Longitude: <%= @user.longitude %>
</div>

Double Click when you have completed your outline of the roof or ground area
<%= render "maps/map" %>


